[submodule "application/i18n"]
	path = application/i18n
	url = git://github.com/ushahidi/Ushahidi-Localizations.git
[submodule "plugins/nexmo"]
	path = plugins/nexmo
	url = https://github.com/ushahidi/Ushahidi-plugin-nexmo
[submodule "plugins/downloadreports"]
	path = plugins/downloadreports
	url = https://github.com/rjmackay/Ushahidi-plugin-downloadreports.git
[submodule "plugins/facebook-social"]
	path = plugins/facebook-social
	url = https://github.com/ushahidi/Ushahidi-plugin-facebook-social.git
