[submodule "application/i18n"]
	path = application/i18n
	url = git://github.com/ushahidi/Ushahidi-Localizations.git
[submodule "plugins/nexmo"]
	path = plugins/nexmo
	url = https://github.com/ushahidi/Ushahidi-plugin-nexmo
